<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="stock.name" class="form-control" id="name" placeholder="Stock Name"/>
    </div>
</div>

<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <input type="text" ng-model="stock.description" class="form-control" id="description" placeholder="Stock Description"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>    